*{
   font-family: fantasy;
}  

body{
   background-color: #BFECFF9C;
   display: flex;
   justify-content: center;
   align-items: center;
}

.screen
{
   height: 20%;
   width: 100%;
   margin: 3px;
   font-size: 3rem;
   border: 2px solid black;
   border-radius: 7px;
   
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   background-color: #CDC1FF;
   overflow: hidden;
}

.calc {
   height: 90%;
   max-width: 95%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;
   gap: 20px 0px;
   border: 2px solid black;
   border-radius: 7px;
   
   background-color: #BFECFF;
}

.num {
   height: 10%;
   width: 20%;
   margin: 2px;
   font-size: 30px;
   text-align: center;
   line-height: 70px;
   border: none;
   border-radius: 8px;
   background-color: #FFF6E3;
}

.brc1
{
   border: none;
   display : flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
}

.brc2
{
   border-right: none;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
}

.brc3
{
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
}

.brc2 , .brc3
{
   padding-bottom: 3.5rem;
}